#
# Copyright © 2025 Ernst Strüngmann Institute (ESI) for Neuroscience # in Cooperation with Max Planck Society
#
# SPDX-License-Identifier: CC0-1.0
#

.DS_Store
.idea
*.log
tmp/
**/dir1
**/dir2
**/dir3
*dummy*
filelist.txt

*.py[cod]
*.egg
build
htmlcov
